.container {
    width: 412px;
    height: 236px;
    padding: 24px;
    gap: 24px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 2px 36px 0 #0000000F;
}

.leftSideHeader {
    width: 229px;
    height: 54px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #F4F4F4;
}
