.uxCardContainer {
    position: fixed;
    left: 75px;
    bottom: 15%;
    width: 100%;
    max-width: 192px;
    height: 186px;
    border-radius: 8px 16px 16px 16px;
    padding: 16px;
    gap: 12px;
    background: #FFFFFF;
    border: 1px solid #E3E5E8;
    box-shadow: 0 4px 8px 0 #5C5E631A;
}
