.diagnoseOverviewContainer {
    gap: 28px;
}

.leftSide {
    max-width: 840px;
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(412px, 1fr));
}

.rightSide {
    width: 376px;
    gap: 24px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 12px;
}


.chartContainer {
    width: 328px;
    height: 450px;
}
